body {
    margin: 0;
}

.navegacao {
    border: 1px solid black;
}

li {
    list-style-type: none;
    display: inline;
    vertical-align: middle;
    text-decoration: none;
    color: black;

}

#sair {
    /* tem uma distancia maior dos outros */
}

.txt_titulo {
    text-align: center;
    margin: 10px;
}
.instrumento {
    text-align: center;
    border: 2px solid black;
    float: left;
}


.img_produto {
    width: 100px;
}


#adicionar {
    background-color: rgb(232, 249, 255);
    border-color: lightblue;
}

#adicionar::after {

}

#comprar {
    background-color: rgb(255, 210, 210);
    border-color: red;
}

#comprar::after {

}