body {
    margin: 0;
    width: 100%;
}


.navegacao {
    border-bottom: 1px solid black;
}

li {
    list-style-type: none;
    display: inline;
    vertical-align: middle;

}

a {
    text-decoration: none;
    color: black;
    margin: 5px;
}

#sair {
    margin: 15px;
}

.txt_titulo {
    text-align: center;
    margin: 3%;
}

ul {
    margin: 0;
}
/* ================================================================= */

.produtos {

}

.instrumento {
    text-align: center;
    border: 1px solid black;
    float: left;

    padding: 2%;

}

.img_produto {
    width: 100px;
    margin: 20px 0;
}


#adicionar {
    background-color: rgb(232, 249, 255);
    border-color: lightblue;
}

#adicionar:hover {

}

#comprar {
    background-color: rgb(255, 210, 210);
    border-color: red;
}

#comprar:hover{
}


footer {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 1%;
    border-top: 2px solid black;
    margin-top: auto;
}

/*--------------------------------------- */

